@font-face
  font-family: Gilroy
  src: url(../fonts/Gilroy-Regular.ttf)

@font-face
  font-family: GilroyBold
  src: url(../fonts/Gilroy-Bold.ttf)

//  COLORS
$textBlack: #0F2133
$white: #fff
$pink: #E61444
$grey: #EFEFEF

//  FONTS
$regular: Gilroy, sans-serif
$bold: GilroyBold, sans-serif
