header
  position: fixed
  z-index: 10
  width: 100%
  border-bottom: 1px solid rgba(196, 196, 196, 0.2)
  +transition

  &.bg
    background: #0F2235
    +transition

    .header
      padding: 20px 0

  .wrapper_fullHD
    overflow: unset

.header
  padding: 30px 0
  +space
  align-items: center

  .btn
    line-height: 60px

  .nav__container
    display: flex
    align-items: center

  nav
    ul
      display: flex
      align-items: center
      margin: 0
      padding: 0

      li
        a
          @include font($white, $bold, 700, 16px)

        &:not(:last-child)
          margin-right: 40px

  .btn_pink
    padding: 0 30px

.socials
  display: flex
  align-items: center

  li:not(:last-child)
    margin-right: 15px

  a
    width: 60px
    height: 60px
    +round
    border: 1px solid rgba(255, 255, 255, .2)
    +center

    img
      max-width: 25px
      max-height: 25px

.phone
  @include font($white, $bold, 700, 24px)

.slogan
  @include font($white, $regular, 500, 20px, 1.5)
  max-width: 740px
  margin-bottom: 50px

.withSubmenu
  position: relative
  margin-right: 40px

  > div
    padding-bottom: 10px
    display: inline-block

  &:hover .menu_dropdown
    display: block
    +transform(translateY(0))
    +transition(all 0.3s ease 0s)
    visibility: visible
    opacity: 1

.menu_dropdown
  background: #0F2235
  left: 0
  padding: 30px
  +border-radius(8px)
  position: absolute
  width: 300px
  +transform(translateY(10px))
  +transition(all 0.3s ease 0s)
  visibility: hidden
  opacity: 0

  li:not(:last-child)
    margin-bottom: 20px

  a
    @include font($white, $regular, 700, 16px)
    text-decoration: none
    border-bottom: 1px solid transparent
    +transition

    &:hover
      border-bottom: 1px solid $white
      +transition

.menu_dropdown_mobile
  padding-left: 20px !important

.toggle
  display: block
  position: relative
  width: 16px
  height: 8px
  margin: auto 20px auto auto

.toggle-line
  position: absolute
  background: $white
  display: block
  margin: auto
  height: 2px
  width: 100%

.toggle-line--2
  top: 0
  @include transition(width 0.2s ease 0.3s)

.toggle-line--3
  bottom: 0
  @include transition(width 0.2s ease 0.3s)

.toggle-line--4,
.toggle-line--5
  opacity: 0
  top: 10px

.withSubmenu:hover
  .toggle-line--4
    -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s

  .toggle-line--5
    -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s
    transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s
    -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s
    -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s

  .toggle-line--2
    width: 0
    @include transition(width 0.2s ease 0.1s)

  .toggle-line--3
    width: 0
    @include transition(width 0.2s ease 0.2s)

  .toggle-line--4
    opacity: 1
    +transform(translateY(-7px) rotate(45deg) translateZ(0))
    -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s

  .toggle-line--5
    opacity: 1
    +transform(translateY(-7px) rotate(-45deg) translateZ(0))
    -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s
    transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s
    -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s
    -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s
