@media only screen and (max-width: 1000px)
  .header .btn
    display: none

  .header__hamburger
    top: 50px

  .services__offer
    flex-direction: column
    align-items: flex-start

    p
      margin-bottom: 20px

  .services_right
    flex-direction: column

  .services__additional
    width: 100%

    &:first-child
      margin-bottom: 20px

  .cases_right_bottom
    flex-direction: column

  .cases_right_bottom
    height: auto

  .cases_right_bottom_small__container
    margin-right: 0
    margin-bottom: 20px
    display: flex
    width: 100%

    > div
      width: 50%

      &:first-child
        padding-right: 10px

      &:last-child
        padding-left: 10px

  .cases_right_bottom_small:first-child
    margin-bottom: 0

  .cases_right_bottom_big
    height: 650px

  .about
    flex-direction: column

    &_half
      min-height: auto

      &:first-child, &:last-child
        width: 100%
        padding-left: 0

  .about .about__statistic
    flex-direction: row

    > div:first-child
      margin-right: 40px

  .partners__slide
    margin: 0 10px

  .hero_inner .hero__advantages
    flex-direction: column

    &.hero__advantages_bordered
      flex-direction: row

      li
        width: 33%

        &:last-child
          margin-left: 0

    li
      width: auto
      max-width: 400px

  .s_advantages .innerTitle
    margin-bottom: 120px

  .advantages li
    padding: 0 20px 20px

  .about_inner
    .about__statistic
      flex-direction: column

      &__item:nth-child(2)
        margin-top: 0

      > div:not(:last-child)
        margin-right: 0

  .s_hero_inner
    margin-bottom: 72px

  .info__list__item:first-child
    font-size: 36px

  .seo-complex
    &__text
      margin-right: 28px
      h2
        font-size: 32px
    img
      margin-top: 20px
      width: 40%

  .seo-works
    ul
      justify-content: space-around
    li
      &::before
        width: 140px
        height: 140px
      p
        max-width: 250px

  .since2006
    &__text
      p
        font-size: 22px

  .trust
    &_why
      position: relative
      p
        width: 50%
        font-size: 22px
      .about__statistic
        position: absolute
        top: 0
        left: 60%
        right: 0
      .trust_half
        margin: 0 0 32px 20px
        .innerTitle
          max-width: 450px
    &__img
      display: none

  .about__statistic_big
    margin-left: 0

  .bg_gray p
    padding: 24px 60px 32px
    font-size: 32px

  .cost__img-block
    p
      margin-top: -12px
      font-size: 20px

  .needed__list
    grid-template-columns: repeat(1, 1fr)

  .needed__offer
    flex-direction: column
    align-items: flex-start

    .btn
      margin-left: 0
      margin-top: 30px

  .possibilities__list
    grid-gap: 30px
    grid-template-columns: repeat(2, 1fr)

  .servicesGrid__list img
    margin-bottom: 30px

  .servicesGrid__list_bg .servicesGrid__list__content
    padding: 0 30px 30px

  .case__about__content h2
    font-size: 35px
    margin-bottom: 30px

  .case__target
    h3
      font-size: 30px

    img
      display: none

  .case__adv__title, .case__smm__title, .case__seo__title
    font-size: 35px

  .case__adv, .case__smm, .case__seo
    flex-direction: column

    &_half
      width: 100%

    .wrapper_half
      height: auto

  .case__smm_half .wrapper_half
    padding-left: 20px

  .case__result ul
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px

    li
      font-size: 22px
