@media only screen and (max-width: 1000px)
  .header .btn
    display: none

  .header__hamburger
    top: 50px

  .services__offer
    flex-direction: column
    align-items: flex-start

    p
      margin-bottom: 20px

  .services_right
    flex-direction: column

  .services__additional
    width: 100%

    &:first-child
      margin-bottom: 20px

  .cases_right_bottom
    flex-direction: column

  .cases_right_bottom
    height: auto

  .cases_right_bottom_small__container
    margin-right: 0
    margin-bottom: 20px
    display: flex
    width: 100%

    > div
      width: 50%

      &:first-child
        padding-right: 10px

      &:last-child
        padding-left: 10px

  .cases_right_bottom_small:first-child
    margin-bottom: 0

  .cases_right_bottom_big
    height: 650px

  .about
    flex-direction: column

    &_half
      min-height: auto

      &:first-child, &:last-child
        width: 100%
        padding-left: 0

  .about .about__statistic
    flex-direction: row

    > div:first-child
      margin-right: 40px

  .partners__slide
    margin: 0 10px

  .hero_inner .hero__advantages
    flex-direction: column

    li
      width: auto
      max-width: 400px

  .s_advantages .innerTitle
    margin-bottom: 120px

  .advantages li
    padding: 0 20px 20px

  .about_inner
    .about__statistic
      flex-direction: column

      &__item:nth-child(2)
        margin-top: 0

      > div:not(:last-child)
        margin-right: 0

  .seo-complex
    flex-flow: column
    &__text
      margin-right: 0
    img
      margin-top: 20px
      width: unset

  .seo-works
    ul
      justify-content: space-between
    li
      &::before
        width: 140px
        height: 140px
      p
        max-width: 220px
