@media only screen and (max-width: 640px)
  .hero__buttons .btn:first-child
    margin-bottom: 20px

  .hero__advantages
    flex-direction: column
    align-items: flex-start

  .hero__advantages li:not(:last-child)
    margin-right: 0
    margin-bottom: 20px

  .submit__container
    flex-direction: column

  .submit__container input[type="submit"]
    margin-right: 0
    margin-bottom: 20px

  .submit__container div:last-child
    margin: 0 auto

  .seo-works
    ul
      gap: 32px
      li
        p
          margin-top: 20px
          font-size: 18px
          max-width: 220px

  .since2006__text
    p
      text-align: justify
    h2
      font-size: 36px

  .selling-solutions
    h2
      margin: 0 16px
      font-size: 36px

  .bg_gray p
    font-size: 28px

  .possibilities__list
    grid-template-columns: repeat(1, 1fr)

  .case__result ul
    grid-template-columns: repeat(1, 1fr)
