@media only screen and (max-width: 767px)
  .about .about__statistic
    flex-direction: column

    > div:first-child
      margin-right: 0

  .partners__slide div
    width: 180px

  li.input__container
    width: 100%

  .footer_bottom
    flex-direction: column

    > a, > p
      margin-bottom: 20px

  .advantages
    flex-direction: column

    &__icon
      margin-bottom: 30px

    li
      width: 100%

      &:not(:last-child)
        border-right: 1px solid #ECECEC
        margin-bottom: 100px

  .approach li
    width: 48%

  .seo-complex
    flex-flow: column
    img
      width: unset

  .info
    flex-flow: column
    .wrapper_50
      width: unset
      display: flex
      flex-flow: column
    &__siu
      margin: 0 auto 32px auto
      text-align: center

  .since2006
    flex-flow: column
    &__text
      margin-right: 0
      h2
        text-align: center
    img
      margin-top: 16px
      width: unset

  .trust_why
    flex-flow: column
    background: linear-gradient(to right, #F2F2F2 50%, #ffffff 50%)
    .about__statistic
      margin-top: 12px
      position: unset
    p
      width: unset

  .cost
    flex-flow: column
    &__text
      margin: 0 0 20px 0
      width: unset
    &__img-block
      width: unset
      p
        max-width: unset

  .servicesGrid__list__title
    font-size: 25px

  .hero_inner .hero__advantages.hero__advantages_bordered li
    width: 49%

  .servicesGrid__list
    grid-template-columns: repeat(1, 1fr)
