@media only screen and (max-width: 767px)
  .about__statistic
    flex-direction: column

  .partners__slide div
    width: 180px

  li.input__container
    width: 100%

  .footer_bottom
    flex-direction: column

    > a, > p
      margin-bottom: 20px
