@media only screen and (max-width: 767px)
  .about .about__statistic
    flex-direction: column

    > div:first-child
      margin-right: 0

  .partners__slide div
    width: 180px

  li.input__container
    width: 100%

  .footer_bottom
    flex-direction: column

    > a, > p
      margin-bottom: 20px

  .advantages
    flex-direction: column

    &__icon
      margin-bottom: 30px

    li
      width: 100%

      &:not(:last-child)
        border-right: 1px solid #ECECEC
        margin-bottom: 100px

  .approach li
    width: 48%
